// === @import ==================================================================================================================================== //
    @import "../util/variable";
    @import "../util/mixin";
    @import "../util/fonction";

    @import "../component/component";
// === end: @import =============================================================================================================================== //



// === @font-face ================================================================================================================================= //
    @font-face
    {
        font-family: 'roboto';
        src: url('../../../../data/font/roboto/Roboto-Regular.ttf') format('truetype');
    }

    @font-face
    {
        font-family: 'shrikhand';
        src: url('../../../../data/font/shrikhand/Shrikhand-Regular.ttf') format('truetype');
    }
// === end: @font-face ============================================================================================================================ //

// === general marker ============================================================================================================================= //
    *
    {
        box-sizing: border-box;

        padding: 0px;
        margin: 0px;

        font-family: roboto, serif;
        color: $color-text-1;
    }

    html
    {
        width: max(100%, 300px);

        background-color: $color-background-1;

        font-size: 1em;
    }

    body
    {
        width: 100%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
    }

    main{ flex-grow: 1; }

    h1, h2
    {
        // font-family: shrikhand, serif;
        font-weight: bold;
        font-size: 1.5rem;
    }
// === end: general marker ======================================================================================================================== //

// === media ====================================================================================================================================== //
// === end: media ================================================================================================================================= //