#back_arrow {
  visibility: hidden;
}

.loading {
  background-color: #FFFFFF;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  animation: loading 800ms 2200ms ease-in-out forwards;
}
.loading > div {
  width: 290px;
  height: 290px;
  border-radius: 145px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.loading > div::after {
  content: "";
  border-radius: 145px;
  background-color: #FF79DA;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  animation: loading-after 2000ms forwards;
}
.loading > div > img {
  width: 300px;
  height: 300px;
  transform: rotate(0deg);
  animation: loading-spiner 2000ms ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
}

#location {
  width: 100%;
  padding: 15px 20px;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#location > img {
  width: 16px;
  height: 16px;
  margin-right: 20px;
}
#location > p {
  font-size: 1rem;
  font-weight: bold;
}

#introduction {
  width: 100%;
  width: 100%;
  padding: calc(20px * 2) 20px calc(20px * 3) 20px;
  background-color: #F6F6F6;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#introduction h1 {
  margin-bottom: 15px;
}
#introduction p {
  margin-bottom: calc(20px * 1.5);
}

#functioning {
  width: 100%;
  padding: calc(20px * 2) 20px;
  background-color: #FFFFFF;
}
#functioning > h2 {
  margin-bottom: calc(20px * 1.5);
}
#functioning > .functioning-step {
  width: calc(100% - ((1em + 10px) / 2));
  height: calc((20px * 3) + 1em);
  margin-bottom: 20px;
  margin-left: calc((1em + 10px) / 2);
  border-radius: 16px;
  background-color: #F6F6F6;
  box-shadow: 5px 5px 5px #c0c0c0;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 1;
}
#functioning > .functioning-step::after {
  border-radius: calc(16px - 1px);
  background-color: #e4d5f6;
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#functioning > .functioning-step > .functioning-step-pictogram {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
#functioning > .functioning-step > .functioning-step-pictogram::after {
  content: "";
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#functioning > .functioning-step > .functioning-step-number {
  width: calc(1em + 10px);
  height: calc(1em + 10px);
  margin-left: calc(0px - ((1em + 10px) / 2));
  margin-right: 20px;
  border-radius: calc((1em + 10px) / 2);
  background-color: #9356DC;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#functioning > .functioning-step > .functioning-step-descriptionp {
  margin-right: 20px;
  font-weight: bold;
}
#functioning > #functioning-step-1::after {
  animation: functioning-step 6000ms 3000ms infinite;
}
#functioning > #functioning-step-1 > .functioning-step-pictogram {
  background-image: url("../../../../data/picture/pictogram/step-1.svg");
}
#functioning > #functioning-step-1 > .functioning-step-pictogram::after {
  background-image: url("../../../../data/picture/pictogram/step-1-2.svg");
  animation: functioning-step 6000ms 3000ms infinite;
}
#functioning > #functioning-step-2::after {
  animation: functioning-step 6000ms 4500ms infinite;
}
#functioning > #functioning-step-2 > .functioning-step-pictogram {
  background-image: url("../../../../data/picture/pictogram/step-2.svg");
}
#functioning > #functioning-step-2 > .functioning-step-pictogram::after {
  background-image: url("../../../../data/picture/pictogram/step-2-2.svg");
  animation: functioning-step 6000ms 4500ms infinite;
}
#functioning > #functioning-step-3::after {
  animation: functioning-step 6000ms 6000ms infinite;
}
#functioning > #functioning-step-3 > .functioning-step-pictogram {
  background-image: url("../../../../data/picture/pictogram/step-3.svg");
}
#functioning > #functioning-step-3 > .functioning-step-pictogram::after {
  background-image: url("../../../../data/picture/pictogram/step-3-2.svg");
  animation: functioning-step 6000ms 6000ms infinite;
}

#restaurant {
  width: 100%;
  padding: calc(20px * 2) 20px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
#restaurant > h2 {
  margin-bottom: calc(20px * 1.5);
}
#restaurant > #restaurant-card_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
}
#restaurant > #restaurant-card_area > .restaurant-card {
  width: min(100%, 420px);
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #c0c0c0;
  position: relative;
}
#restaurant > #restaurant-card_area > .restaurant-card > a {
  text-decoration: none;
}
#restaurant > #restaurant-card_area > .restaurant-card > a > .restaurant-card-illustration {
  width: 100%;
  padding-bottom: 54%;
  border-radius: 16px 16px 0px 0px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#restaurant > #restaurant-card_area > .restaurant-card > a > .restaurant-card-illustration > .restaurant-card-new {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #99E2D0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #278870;
  position: absolute;
  top: 15px;
  right: 15px;
}
#restaurant > #restaurant-card_area > .restaurant-card > a .restaurant-card-info {
  width: 100%;
  padding: 20px 15px;
}
#restaurant > #restaurant-card_area > .restaurant-card > a .restaurant-card-info-name {
  margin-bottom: calc(1em / 2);
  font-weight: bold;
}
#restaurant > #restaurant-card_area > .restaurant-card .favorite {
  position: absolute;
  right: 15px;
  bottom: calc(((2.5rem - 20px) / 2) + 20px);
}
#restaurant > #restaurant-card_area #restaurant-card-1 .restaurant-card-illustration {
  background-image: url("../../../../data/picture/banner/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
#restaurant > #restaurant-card_area #restaurant-card-2 .restaurant-card-illustration {
  background-image: url("../../../../data/picture/banner/stil-u2Lp8tXIcjw-unsplash.jpg");
}
#restaurant > #restaurant-card_area #restaurant-card-3 .restaurant-card-illustration {
  background-image: url("../../../../data/picture/banner/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
#restaurant > #restaurant-card_area #restaurant-card-4 .restaurant-card-illustration {
  background-image: url("../../../../data/picture/banner/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

@keyframes loading {
  100% {
    opacity: 0;
  }
  100% {
    z-index: -1;
  }
}
@keyframes loading-after {
  100% {
    opacity: 1;
  }
}
@keyframes loading-spiner {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes functioning-step {
  10%, 25% {
    opacity: 1;
  }
  35%, 100% {
    opacity: 0;
  }
}
@media screen and (min-width: 461px) {
  #block-right > #restaurant > #restaurant-card_area > .restaurant-card {
    width: min(420px, calc((100% - 20px) / 2));
  }
}
@media screen and (min-width: 901px) {
  main {
    flex-direction: row;
  }

  #block-left {
    width: 350px;
    background-color: #F6F6F6;
  }
  #block-left #functioning {
    background-color: #F6F6F6;
  }
  #block-left #functioning > .functioning-step {
    background-color: #FFFFFF;
  }

  #block-right {
    width: calc(100% - 350px);
    background-color: #FFFFFF;
  }
  #block-right #restaurant {
    background-color: #FFFFFF;
  }
}
@media screen and (min-width: 1251px) {
  #block-right > #restaurant > #restaurant-card_area > .restaurant-card {
    width: min(420px, calc((100% - 2 * 20px) / 3));
  }
}

/*# sourceMappingURL=index.css.map */
