// === color ====================================================================================================================================== //
    $color-1: #9356DC;
    $color-2: #FF79DA;
    $color-3: #99E2D0;
    $color-4: #F5F5F5;
    $color-5: #353535;
// === end: color ================================================================================================================================= //

// === padding & margin =========================================================================================================================== //
    $padding-small: 10px;
    $padding-large: 20px;
// === end: padding & margin ====================================================================================================================== //

// === size ======================================================================================================================================= //
    $pictogram-width: 24px;
    $pictogram-height: 24px;
    $pictogram-small-width: 16px;
    $pictogram-small-height: 16px;

    $website-emblem-width: 195.566px;
// === end: size ================================================================================================================================== //

// === breakpoint ================================================================================================================================= //
// === end: breakpoint ============================================================================================================================ //