// === border-radius ============================================================================================================================== //
    $border-radius-small: 4px;    
    $border-radius-medium: 16px;
    $border-radius-large: 24px;
// === end: border-radius ========================================================================================================================= //

// === breakpoint ================================================================================================================================= //
    $breakpoint-mobile: 540px;
// === end: breakpoint ============================================================================================================================ //

// === color ====================================================================================================================================== //
    $color-1: #9356DC;
    $color-2: #FF79DA;
    $color-3: #99E2D0;

    $color-background-1: #FFFFFF;
    $color-background-2: #F6F6F6;
    $color-background-3: #353535;
    
    $color-shodow: #c0c0c0;
// === end: color ================================================================================================================================= //

// === padding & margin =========================================================================================================================== //
    $padding-small: 10px;
    $padding-medium: 15px;
    $padding-large: 20px;

    $margin-small: 10px;
    $margin-medium: 15px;
    $margin-large: 20px;
// === end: padding & margin ====================================================================================================================== //

// === size ======================================================================================================================================= //
    $pictogram-small-width: 16px;
    $pictogram-small-height: 16px;
    $pictogram-width: 20px;
    $pictogram-height: 20px;
    $pictogram-large-width: 24px;
    $pictogram-large-height: 24px;

    $website-emblem-width: 170px;
    $website-emblem-small-width: 100px;
// === end: size ================================================================================================================================== //