// === border-radius ============================================================================================================================== //
    $border-radius-small: 4px;    
    $border-radius-medium: 16px;
    $border-radius-large: 24px;
// === end: border-radius ========================================================================================================================= //

// === breakpoint ================================================================================================================================= //
    $breakpoint-tablette: 420px + 2 * 20px + 1px; // $restaurant-card-max-width + 2 * $padding-large + 1px
    $breakpoint-desktop-1: 2 * 420px + 3 * 20px + 1px; // 2 * $restaurant-card-max-width + 3 * $padding-large + 1px
    $breakpoint-desktop-2: 2 * 420px + 3 * 20px + 350px + 1px; // 2 * $restaurant-card-max-width + 3 * $padding-large + 350px + 1px
    $breakpoint-desktop-3: 3 * 420px + 3 * 20px + 350px + 1px; // 2 * $restaurant-card-max-width + 3 * $padding-large + 350px + 1px
// === end: breakpoint ============================================================================================================================ //

// === color ====================================================================================================================================== //
    $color-1: #9356DC;
    $color-2: #FF79DA;
    $color-3: #99E2D0;

    $color-background-1: #FFFFFF;
    $color-background-2: #F6F6F6;
    $color-background-3: #353535;

    $color-shodow: #c0c0c0;

    $color-text-1: #000000;
    $color-text-2: #FFFFFF;
// === end: color ================================================================================================================================= //

// === padding & margin =========================================================================================================================== //
    $padding-small: 10px;
    $padding-medium: 15px;
    $padding-large: 20px;

    $margin-small: 10px;
    $margin-medium: 15px;
    $margin-large: 20px;
// === end: padding & margin ====================================================================================================================== //

// === size ======================================================================================================================================= //
    $restaurant-card-max-width: 420px;


    $pictogram-small-width: 16px;
    $pictogram-small-height: 16px;
    $pictogram-medium-width: 20px;
    $pictogram-medium-height: 20px;
    $pictogram-large-width: 24px;
    $pictogram-large-height: 24px;

    $website-emblem-small-width: 100px;
    $website-emblem-medium-width: 170px;
// === end: size ================================================================================================================================== //