// === @import ==================================================================================================================================== //
    @import "../util/variable";
    @import "../util/mixin";
    @import "../util/fonction";
// === end: @import =============================================================================================================================== //



// === header ===================================================================================================================================== //
    header
    {
        width: 100%;

        padding: $padding-large $padding-large $padding-small $padding-large;
        margin-bottom: 3px; // for box-shadow

        background-color: $color-background-1;

        box-shadow: 0px 3px 3px $color-shodow;



        #navigation-main >  ul
        {
            width: 100%;

            list-style-type: none;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: relative;



            #back_arrow
            {
                width: $pictogram-medium-width;
                height: $pictogram-medium-height;

                position: absolute;
                left: 0;
            }

            #website-emblem > a
            {
                display: flex;



                > img{ width: $website-emblem-medium-width; }
            }
        }
    }

    // === media ================================================================================================================================== //
        @media screen and (min-width: #{$breakpoint-desktop-3})
        {
            header #navigation-main > ul #back_arrow{ left: calc(((100% - #{$breakpoint-desktop-3}) / 2) + #{$padding-large}); }
        }
    // === end: media ============================================================================================================================= //
// === end: header ================================================================================================================================ //