// === @import ==================================================================================================================================== //
    @import "./utils/variables";
    @import "./utils/mixins";
    @import "./utils/fonctions";
// === end: @import =============================================================================================================================== //

// === @keyframes ================================================================================================================================ //
    @keyframes functioning-step
    {
        0%{}

        10%, 25%{ opacity: 1; }

        35%, 100%{ opacity: 0; }
    }

    @keyframes favorite
    {
        0%{ transform: scaleY(0); }

        100%{ transform: scaleY(1); }
    }
// === end: @keyframes =========================================================================================================================== //

// === header ==================================================================================================================================== //
    #arrow{ visibility: hidden; }
// === end: header =============================================================================================================================== //

// === index ===================================================================================================================================== //
    // === location ============================================================================================================================== //
        #location
        {
            padding: $padding-medium $padding-large;

            background-color: darken($color-background-2, 5%);

            display: flex;
            flex-direction: row;
            justify-content: center;

            > img
            {
                width: $pictogram-small-width;
                height: $pictogram-small-height;

                margin-right: $margin-large;
            }

            > p
            {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    // === end: location ========================================================================================================================= //

    // === introduction ========================================================================================================================== //
        #introduction
        {
            width: 100%;

            padding: calc(#{$padding-large} * 2) $padding-large calc(#{$padding-large} * 3) $padding-large;

            background-color: $color-background-2;

            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;

            h1{ margin-bottom: $margin-medium; }

            p{ margin-bottom: calc(#{$margin-large} * 1.5); }
        }
    // === end: introduction ===================================================================================================================== //

    // === functioning =========================================================================================================================== //
        #functioning
        {
            width: calc(100% - ((1em + 10px) / 2)); //  move back for step number

            padding: calc(#{$padding-large} * 2) $padding-large;

            background-color: $color-background-1;

            > h2{ margin-bottom: calc(#{$margin-large} * 1.5); }

            > .functioning-step
            {
                width: 100%;
                height: calc((#{$pictogram-height} * 3)  + 1em);

                margin-bottom: $margin-large;
                margin-left: calc((1em + 10px) / 2); //  move back for step number

                border-radius: $border-radius-medium;

                background-color: $color-background-2;

                @include shadow;

                display: flex;
                flex-direction: row;
                align-items: center;

                position: relative;
                z-index: 1;

                &::after
                {
                    border-radius: calc(#{$border-radius-medium} - 1px);

                    background-color: lighten($color-1, 30%);

                    opacity: 0;

                    content: "";

                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                }

                > .functioning-step-number
                {
                    width: calc(1em + 10px);
                    height: calc(1em + 10px);

                    margin-left: calc(0px - ((1em + 10px) / 2));
                    margin-right: $margin-large;

                    border-radius: calc((1em + 10px) / 2);

                    background-color: $color-1;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    > p{ color: white; }
                }

                > .functioning-step-pictogram
                {
                    width: $pictogram-width;
                    height: $pictogram-height;

                    margin-right: $margin-large;

                    background-size: contain;
			        background-position: center center;
                    background-repeat: no-repeat;

                    position: relative;
                    z-index: 1;

                    &::after
                    {
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;

                        opacity: 0;

                        content: "";

                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                    }
                }

                > p
                {
                    margin-right: $margin-large;

                    font-weight: bold;
                }
            }

            > #functioning-step-
            {
                @for $i from 1 through 3
                {
                    &#{$i}
                    {
                        &::after{ animation: functioning-step 6000ms (1500ms * ($i - 1)) infinite; }

                        > .functioning-step-pictogram
                        {
                            background-image: url("../../../data/picture/pictogram/step-#{$i}.svg");

                            &::after
                            {
                                background-image: url("../../../data/picture/pictogram/step-#{$i}-2.svg");

                                animation: functioning-step 6000ms (1500ms * ($i - 1)) infinite;
                            }
                        }
                    }
                }
            }
        }
    // === end: functioning ====================================================================================================================== //

    // === restaurant ============================================================================================================================ //
        #restaurant
        {
            width: 100%;

            padding: calc(#{$padding-large} * 2) $padding-large;

            background-color: $color-background-2;

            display: flex;
            flex-direction: column;

            > h2{ margin-bottom: calc(#{$margin-large} * 1.5); }

            > #restaurant-card_area
            {
                display: flex;
                flex-direction: column;

                > .restaurant-card
                {
                    margin-bottom: $margin-large;

                    border-radius: $border-radius-medium;

                    text-decoration: none;

                    @include shadow;

                    > .restaurant-card-illustration // div:nth-child(1)
                    {
                        width: min(100%, 500px);

                        padding-bottom: min(54%, 270px);

                        border-radius: $border-radius-medium $border-radius-medium 0px 0px;

                        background-size: cover;
                        background-position: center center;

                        position: relative;

                        > .restaurant-card-new
                        {
                            padding: 5px $padding-small;

                            border-radius: $border-radius-small;

                            background-color: $color-3;

                            font-size: 0.9rem;
                            font-weight: bold;
                            color: darken($color-3, 40%);

                            position: absolute;
                            top: $padding-medium;
                            right: $padding-medium;
                        }
                    }

                    > div:nth-child(2)
                    {
                        padding: $padding-small;

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        > div
                        {
                            > .restaurant-card-name
                            {
                                margin-bottom: calc(1em / 2);

                                font-weight: bold;
                            }
                        }

                        > .favorite
                        {
                            width: $pictogram-large-width;
                            height: $pictogram-large-height;

                            // background-size: contain;
                            // background-position: center center;
                            // background-repeat: no-repeat;
                            //background-image: url("../../../data/picture/pictogram/heart-negative.svg");

                            position: relative;
                            z-index: 1;

                            > img
                            {
                                width: $pictogram-large-width;
                                height: $pictogram-large-height;
                            }

                            &::after
                            {
                                content: "";

                                background: linear-gradient(to bottom, $color-1, $color-2);

                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                z-index: -1;

                                transform: scaleY(0);
                                transform-origin: 50% 100%;
                            }

                            &:active
                            {
                                &::after{ animation: favorite 2s forwards;}
                            }
                        }
                    }
                }

                > #restaurant-card-1 > .restaurant-card-illustration { background-image: url("../../../data/picture/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"); }
                > #restaurant-card-2 > .restaurant-card-illustration { background-image: url("../../../data/picture/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"); }
                > #restaurant-card-3 > .restaurant-card-illustration { background-image: url("../../../data/picture/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"); }
                > #restaurant-card-4 > .restaurant-card-illustration { background-image: url("../../../data/picture/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"); }
            }
        }
    // === end: restaurant ======================================================================================================================= //
// === end: index ================================================================================================================================ //